@media (max-width: 1440px) { .container { width: 1200px; }
  .go-to-market ul li a .title { font-size: 26px; }
  .pipeline-tab-wrapper .pipeline-slide .leads .filter-data thead th { font-size: 22px; }
  .pipeline-tab-wrapper .pipeline-slide .leads .filter-data tbody td { font-size: 18px; } }
  

@media (max-width: 1200px) { .container { width: 1024px; }
  .go-to-market ul li a { height: 200px; }
  .go-to-market ul li a .title { font-size: 20px; }
  .go-to-market ul li a::after { width: 40px; height: 40px; }
  .pipeline-tab-wrapper .pipeline-slide .deal-reg .num-data li span { font-size: 26px; }
  .pipeline-tab-wrapper .pipeline-slide .deal-reg .num-data li strong { font-size: 30px; }
  .pipeline-tab-wrapper .pipeline-slide .filter-table .condition select { padding-right: 20px; font-size: 18px; }
  .footer .foot-nav { width: 75%; }
  .footer .foot-nav .item h3 { font-size: 18px; }
  .footer .foot-nav .item ul { padding-right: 30px; }
  .footer .foot-nav .item ul li a { font-size: 16px; }
  .footer .contact { max-width: 25%; }
  .footer .contact .web-name { font-size: 35px; } }

@media (max-width: 768px) { .container { width: 100%; }
  .header { background-position: 170% center; }
  .page-name { line-height: 80px; font-size: 35px; }
  .go-to-market { padding-bottom: 40px; overflow: hidden; }
  .go-to-market .intro h3 { font-size: 26px; }
  .go-to-market .intro p { font-size: 18px; }
  .go-to-market ul { margin: 0 -18px; }
  .go-to-market ul li { width: 50%; }
  .go-to-market ul li:nth-child(1), .go-to-market ul li:nth-child(2), .go-to-market ul li:nth-child(3) { width: 33.33%; margin-left: 0; margin-right: 0; }
  .go-to-market ul li a { width: 100%; }
  .with-us .head-title { font-size: 24px; }
  .with-us .item .icon { height: 80px; }
  .with-us .item dl { width: 80%; }
  .with-us .item dt { font-size: 20px; }
  .with-us .item dd { font-size: 16px; }
  .guide-wrapper .container { padding-top: 50px; padding-bottom: 30px; }
  .guide-wrapper .head-title { font-size: 24px; }
  .guide-wrapper .text { font-size: 16px; }
  .guide-wrapper .download-mark { right: 0; width: 300px; height: 198px; padding-right: 20px; padding-bottom: 20px; font-size: 28px; }
  .guide-wrapper .download-wrapper { width: 100%; }
  .guide-wrapper .download-wrapper .download-title { font-size: 24px; }
  .guide-wrapper .download-wrapper ul li a { font-size: 20px; }
  .join-us .container { padding-left: 0; padding-right: 0; }
  .join-us .join-us-slide .pagination { bottom: 30px !important; }
  .join-us .join-us-slide .pagination span { width: 30px; height: 10px; margin: 0 20px !important; }
  .join-us .join-us-slide .pagination span.active { border-width: 2px; }
  .join-us .join-us-slide .button-prev, .join-us .join-us-slide .button-next { width: 60px; height: 60px; margin-top: -30px; }
  .join-us .join-us-slide .button-prev { left: 40px; }
  .join-us .join-us-slide .button-next { right: 40px; }
  .pipeline-tab-wrapper .tab-nav a { min-width: 230px; font-size: 26px; }
  .pipeline-tab-wrapper .pipeline-slide .deal-reg .num-data li { height: 125px; padding: 10px; }
  .pipeline-tab-wrapper .pipeline-slide .deal-reg .num-data li span { font-size: 20px; }
  .pipeline-tab-wrapper .pipeline-slide .deal-reg .num-data li strong { right: 10px; bottom: 10px; font-size: 24px; }
  .pipeline-tab-wrapper .pipeline-slide .deal-reg .filter-table .condition { overflow: hidden; }
  .pipeline-tab-wrapper .pipeline-slide .deal-reg .filter-table .condition .filter-btn { float: left; clear: both; margin-top: 20px; }
  .pipeline-tab-wrapper .pipeline-slide .leads .by-filter { float: none; margin-left: auto; margin-right: auto; }
  .pipeline-tab-wrapper .pipeline-slide .leads .filter-table { float: none; width: 100%; margin-top: 50px; }
  .footer .foot-nav { clear: both; width: 100%; }
  .footer .contact { clear: both; width: 100%; max-width: 100%; margin-top: 30px; }
  .footer .contact .web-name { text-align: left; font-size: 24px; }
  .footer .contact .share { justify-content: flex-start; }
  .footer .contact .share a { margin-left: 0; margin-right: 20px; }
  .footer .contact .title { text-align: left; }
  .footer .contact .text { text-align: left; } }

@media (max-width: 767px) { .container { padding-left: 10px; padding-right: 10px; }
  .header .navbtn { width: 5%; height: 60px; }
  .header .navbar { left: 0; width: 180px; padding: 10px 10px 5px; }
  .header .navbar .close { width: 20px; height: auto; }
  .header .navbar ul li { padding-top: 5px; padding-right: 5px; font-size: 14px; }
  .header .logo { width: 35%; height: 60px; margin-left: 10px; }
  .header .logo img { height: auto; }
  .header .head-right { height: 60px; }
  .header .head-right .reg-deal { width: 85px; height: 25px; line-height: 27px; font-size: 10px; }
  .header .head-right ul { margin-left: 0; }
  .header .head-right ul li { margin-left: 10px; }
  .header .head-right ul li img { height: 18px; }
  .page-name { line-height: 50px; font-size: 20px; }
  .go-to-market .intro h3 { font-size: 16px; }
  .go-to-market .intro p { margin-top: 10px; font-size: 14px; }
  .go-to-market ul { margin: 0 -5px; margin-top: 20px; }
  .go-to-market ul li { padding: 0 5px; margin: 5px 0; }
  .go-to-market ul li a { height: 120px; padding-left: 10px; padding-right: 10px; }
  .go-to-market ul li a .title { font-size: 14px; }
  .go-to-market ul li a::after { width: 20px; height: 20px; }
  .with-us .head-title { text-align: center; font-size: 20px; }
  .with-us .item { clear: both; width: 100%; margin-top: 30px; }
  .with-us .item .icon { height: 60px; }
  .with-us .item dl { width: 100%; margin-top: 30px; }
  .with-us .item dt { font-size: 16px; }
  .with-us .item dd { margin-top: 10px; font-size: 14px; }
  .guide-wrapper .head-title { font-size: 20px; }
  .guide-wrapper .text { margin-top: 20px; font-size: 14px; }
  .guide-wrapper .download-mark { width: 220px; height: 100px; padding-right: 10px; padding-bottom: 10px; font-size: 20px; background-size: 100% 100%; }
  .guide-wrapper .download-wrapper ul { margin-top: 30px; }
  .guide-wrapper .download-wrapper ul li { padding-top: 10px; padding-bottom: 10px; }
  .guide-wrapper .download-wrapper ul li a { font-size: 14px; }
  .join-us .join-us-slide .pagination { bottom: 10px !important; }
  .join-us .join-us-slide .pagination span { width: 20px; height: 5px; margin: 0 5px !important; }
  .join-us .join-us-slide .pagination span.active { border-width: 1px; }
  .join-us .join-us-slide .button-prev, .join-us .join-us-slide .button-next { width: 30px; height: 30px; margin-top: -15px; }
  .join-us .join-us-slide .button-prev { left: 15px; }
  .join-us .join-us-slide .button-next { right: 15px; }
  .pipeline-tab-wrapper .tab-nav { margin-top: 40px; }
  .pipeline-tab-wrapper .tab-nav a { min-width: auto; padding-right: 50px; padding-bottom: 10px; font-size: 20px; }
  .pipeline-tab-wrapper .pipeline-slide .deal-reg .num-data { flex-wrap: wrap; margin-top: 25px; }
  .pipeline-tab-wrapper .pipeline-slide .deal-reg .num-data li { width: 48%; margin: 8px 0; }
  .pipeline-tab-wrapper .pipeline-slide .deal-reg .filter-table { margin-top: 30px; }
  .pipeline-tab-wrapper .pipeline-slide .deal-reg .filter-table .condition select { height: 30px; margin: 5px; font-size: 14px; border-width: 1px; }
  .pipeline-tab-wrapper .pipeline-slide .deal-reg .filter-table .condition .filter-btn { width: 80px; height: 30px; margin-top: 10px; font-size: 14px; }
  .pipeline-tab-wrapper .pipeline-slide .leads { padding-top: 25px; padding-bottom: 50px; }
  .pipeline-tab-wrapper .pipeline-slide .leads .by-filter h3 { font-size: 18px; }
  .pipeline-tab-wrapper .pipeline-slide .leads .by-filter select { height: 40px; font-size: 14px; }
  .pipeline-tab-wrapper .pipeline-slide .leads .by-filter .filter-btn { height: 35px; font-size: 16px; }
  .pipeline-tab-wrapper .pipeline-slide .leads .filter-table { margin-top: 30px; }
  .pipeline-tab-wrapper .pipeline-slide .filter-data thead { height: 50px; }
  .pipeline-tab-wrapper .pipeline-slide .filter-data thead th { padding-left: 10px; padding-right: 10px; font-size: 14px !important; }
  .pipeline-tab-wrapper .pipeline-slide .filter-data tbody td { padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; font-size: 12px !important; }
  .footer .foot-nav { flex-wrap: wrap; }
  .footer .foot-nav .item { width: 100%; max-width: 100% !important; margin-bottom: 20px; }
  .footer .foot-nav .item h3 { font-size: 16px; }
  .footer .foot-nav .item ul { margin-top: 5px; }
  .footer .foot-nav .item ul li { float: left; margin-right: 15px; padding-top: 5px; padding-bottom: 5px; }
  .footer .foot-nav .item ul li a { font-size: 14px; }
  .footer .contact .web-name { font-size: 20px; }
  .footer .contact .share a { width: 20px; } }

/*# sourceMappingURL=../maps/style/media.css.map */
